* {
margin: 0;
padding: 0;
}

body {
    background-color: #010417;
}

h1 {
    font-family: Cuprum;
    color: #FDFDFD;
}

h2 {
    font-family: Work Sans;
    color: #FDFDFD;
}

h3 {
    font-family: Work Sans;
    color: #FDFDFD;
}

p {
    font-family: Montserrat;
    color: #FDFDFD;
}

th {
    font-family: Work Sans;
}

td {
    font-family: Montserrat;
}

li {
    font-family: Montserrat;
}

.video-container {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.video-container video {
    width: auto;
    height: auto;
    min-width: 100%;
}
.otsikko {
    position: absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -35%); 
    font-size: 100px;
    font-family: Cuprum;
    color: #FDFDFD;
    text-shadow: #AADEF7 2px 0px 10px;
}

.alaotsikko {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-20%);
    white-space: nowrap;
    font-size: 45px;
    font-family: Work Sans;
    color: #FDFDFD;
    text-shadow: #AADEF7 2px 0px 10px;
}

.leipa {
    margin-left: 10%;
    margin-right: 10%;

}

.taulukot {
    margin-top: 5%;
}

/* Hintataulukko */
#pricing-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #a48ea8;
    border-radius: 5px;
}

#pricing-table th, #pricing-table td {
    border: 1px solid #a48ea8;
    padding: 10px;
    text-align: left;
    background-color: #fdfdfd;
}

#pricing-table th {
    font-weight: bold;
}

/* Alennuslista */
#discount-list {
    list-style-type: none;
    margin: 20px auto;
    width: 50%;
    text-align: left;
}

#discount-list li {
    background-color: #fdfdfd;
    margin: 5px;
    padding: 10px;
    border: 2px solid #a48ea8;
    border-radius: 5px;
}


/* .mobileHide { display: inline;} -piilottaa videon mobiililla-
@media only screen
and (max-device-width : 420px){  .mobileHide { display: none;}} */

@media only screen /* mobiili asetuksia */
and (max-device-width : 420px)
{
    .leipa {margin-top:15%;}
    .leipa {margin-bottom:15%;}
    .leipa {font-size: 14px;}
}


@media only screen /* tabletti asetuksia */
and (min-device-width : 421px)
and (max-width: 1024px) 
{
    .leipa {margin-top:15%;}
    .leipa {margin-bottom:15%;}
    .leipa {font-size: 18px;}
}


@media only screen /* desktop asetuksia */
and (min-device-width:1025px)
{
    .leipa {margin-top: 10%;}
    .leipa {margin-bottom:10%;}
    .leipa {font-size: 20px;}
}