* {
margin: 0;
padding: 0;
}

#yla {
    text-align: center;
}

.video-container {
    width: 100%;
    height: auto;
    position: relative;
}

.video-container video {
   z-index: -1;
    width: auto;
    height: auto;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%)
}

.mobileHide { display: inline;}
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){  .mobileHide { display: none;}}

#otsikko {
    font-size: 100px;
}
#alaotsikko {
    font-size: 64px;
}

h1 {
    font-family: Cuprum;
    color: #FDFDFD;
}

h2 {
    font-family: Work Sans;
    color: #FDFDFD;
}

p {
    font-family: Montserrat;
    color: #FDFDFD;
}